{% extends "VanoFashionEShoppingBundle:Item:websiteManagement.html.twig" %}


{% block title %}

   {{ parent() }} - add item

{% endblock %}

{% block javascripts %}

{{ parent()}}
    {% javascripts 'bundles/vanofashioneshopping/js/itemForm.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block vanofashioneshopping_management_body %}



	

    
	<div class="page-header">
	<h1 class="text-center"> Adding an item  </h1>
	</div>

	{% for label, messages in app.flashes %}
	    {% for message in messages %}
	        <div class="alert alert-{{ label }}">
	           <STRONG> {{label}}: </STRONG> {{ message }}
	        </div>
	    {% endfor %}
    {% endfor %}
	<div >

		<h3> Complete the form below to add an item</h3>

    {{ include("VanoFashionEShoppingBundle:Item:itemForm.html.twig") }}

    </div>



{% endblock %}