{% extends "VanoFashionEShoppingBundle:Item:websiteManagement.html.twig" %}


{% block title %}

   {{ parent() }} - add item

{% endblock %}


{% block vanofashioneshopping_management_body %}



	

    
	<div class="page-header">
	<h2 class="text-center"> Adding an item  </h2>
	</div>

	{% for label, messages in app.flashes %}
	    {% for message in messages %}
	        <div class="alert alert-{{ label }}">
	           <STRONG> {{label}}: </STRONG> {{ message }}
	        </div>
	    {% endfor %}
    {% endfor %}
	<div >

    {{ include("VanoFashionEShoppingBundle:Item:itemForm.html.twig") }}

    </div>



{% endblock %}