{% extends "VanoFashionEShoppingBundle:Item:websiteManagement.html.twig" %}


{% block title %}

   {{ parent() }} - add items Product

{% endblock %}


{% block vanofashioneshopping_management_body %}



	


    
	<div class="page-header">
	<h1 class="text-center"> Modified a product </h1>
	</div>

	{% for label, messages in app.flashes %}
	    {% for message in messages %}
	        <div class="alert alert-{{ label }}">
	           <STRONG> {{label}}: </STRONG> {{ message }}
	        </div>
	    {% endfor %}
    {% endfor %}
	<div >
		<h3> Complete the form below to modify the product</h3>


    {{ include("VanoFashionEShoppingBundle:Item:itemProductForm.html.twig") }}

    </div>



{% endblock %}