{% extends "VanoFashionEShoppingBundle:Item:websiteManagement.html.twig" %}


{% block title %}

   {{ parent() }} - add item

{% endblock %}



{% block vanofashioneshopping_management_body %}


<div class="jumbotron ">
	{% if mainImage != null%} 

	<img  class="img-responsive  item-main-image" src="{{ asset("bundles/vanofashioneshopping/images/" ~ mainImage.url ) }} " alt="{{mainImage.alt}}" width="60%"  >

	{% endif %}

</div>
	

    
	<div class="page-header">
	<h1 class="text-center"> Item  details </h1>
	</div>
    
    <div class="management-item-details">
    	<div class="row">
	    	<div class="col-sm-2"> <strong >Adding date: </strong></div>
	        <div class="col-sm-10"> {{item.addingDate.date|date("d/m/y  H:i:s")}}</div>
	    </div>
	    <div class="row">
	    	<div class="col-sm-2"> <strong>Item's code:</strong></div>
	        <div class="col-sm-10"> {{item.codeItem}}</div>
	    </div>

	     <div class="row">
	    	<div class="col-sm-2"> <strong>Item's label:</strong></div>
	        <div class="col-sm-10"> {{item.itemLabel}}</div>
	    </div>

	    <div class="row">
	    	<div class="col-sm-2"> <strong >Name: </strong></div>
	        <div class="col-sm-10"> {{item.name}}</div>
	    </div>

	    <div class="row">
	    	<div class="col-sm-2"> <strong >Brand: </strong></div>
	        <div class="col-sm-10"> {{item.brand}}</div>
	    </div>
	    <div class="row">
	    	<div class="col-sm-2"> <strong >Color: </strong></div>
	        <div class="col-sm-10"> {{item.color}}</div>
	    </div>

	    <div class="row">
	    	<div class="col-sm-2"> <strong >Description: </strong></div>
	        <div class="col-sm-10"> {{item.descrip}}</div>
	    </div>

	    <div class="row">
	    	<div class="col-sm-2"> <strong >images: </strong></div>
	        <div class="col-sm-10 management-images">
	         {% for image in item.images %}

	         <div class="row">
	         	
				   <a href=" {{ asset("bundles/vanofashioneshopping/images/" ~ image.url ) }}" target="_blank">
				   	<img  class="img-responsive " src="{{ asset("bundles/vanofashioneshopping/images/" ~ image.url ) }} " alt="{{image.alt}}" width="220" height="115" > 
				   </a>
				    
	         </div>

	         {% endfor %}
	     </div>
	    </div>

	     <div class="row">
	    	<div class="col-sm-2"> <strong >Gender: </strong></div>
	        <div class="col-sm-10"> {{item.gender.gender}}</div>
	    </div>

	     <div class="row">
	    	<div class="col-sm-2"> <strong >Product: </strong></div>
	        <div class="col-sm-10"> {{item.product.name}}</div>
	    </div>


	     <div class="row">
	    	<div class="col-sm-2"> <strong >Stock(s): </strong></div>
	        <div class="col-sm-10 item-stocks">  
	        	<table class="table">
			    <thead>
			      <tr>
			        <th>Size</th>
			        <th>Size type</th>
			        <th>Price</th>
			        <th>Initial quantity</th>
			        <th>Sold quantity</th>
			        <th>Sold out date</th>
			      </tr>
			    </thead>
			    <tbody>
			      {% for stock in item.stocks %}
			      <tr>
			      	<td> {{stock.itemSize}}</td>
			      	<td> {{stock.typeSize | upper}}</td>
			      	<td> {{stock.price}} $</td>
			      	<td> {{stock.quantity}}</td>
			      	<td> {{stock.soldQuantity}}</td>
			      	<td> {{stock.dateOfEnd}}</td>
			      </tr>
			      {% endfor %}
			    </tbody>
	        </table></div>
	    </div>

	    	   

    </div>


<div class="text-center div-btn">
<a href="{{ path('vano_fashion_e_shopping_website_management_item_list', {'page': returnPage}) }}?limit={{limit}}" class="btn btn-delete btn-lg"> Back </a> <a href="" class="btn btn-submit btn-lg"> Edit </a>
</div>

{% endblock %}