
	<ul class="  nav nav-pills nav-stacked" data-spy="affix" data-offset-top="120">
  <li > 
   <div id="item-menu"> Item </div>
   <div id="item-menuItem">
	<ul >
	   <li><a href="{{ path('vano_fashion_e_shopping_website_management_item_list')}}">List of items </a></li>
	   <li><a href="{{ path('vano_fashion_e_shopping_website_management_item_add')}}">Add item </a></li>
    </ul>
    </div>
</li>
  <li>  
  	<div  id="product-menu"> Product </div>
  	<div id="product-menuItem">
	<ul>
		<li><a href="{{ path('vano_fashion_e_shopping_website_management_itemproduct_list') }}">List of products </a></li>
	    <li><a href=" {{ path('vano_fashion_e_shopping_website_management_itemproduct_add') }} "> Add product </a></li>
    </ul>
    </div>
  </li>
  <li >  
  	<div id="category-menu"> Category </div>
  	<div id="category-menuItem">
	<ul>
		<li><a href="{{ path('vano_fashion_e_shopping_website_management_itemcategory_list') }}">List of categories </a></li>
	    <li><a href="{{ path('vano_fashion_e_shopping_website_management_itemcategory_add') }} "> 
        add category 
      </a></li>
    </ul>
    </div>
  </li>
  <li >
    <div id="gender-menu"> Gender </div>
    <div id="gender-menuItem">
  <ul>
    <li><a href="{{ path('vano_fashion_e_shopping_website_management_itemgender_list') }}">List of items gender </a></li>            
    <li><a href="{{ path('vano_fashion_e_shopping_website_management_itemgender_add') }}">
      Add items gender</a></li>     
  </ul>

    </div>

  </li>
  <li >
  	<div id="discount-menu"> Discount </div>
  	<div id="discount-menuItem">
	<ul>
		<li><a href="">List of discounts </a></li>
		<li><a href="#">Ongoing discounts</a></li>							
	    <li><a href="#">Add discount</a></li>     
	</ul>

    </div>

  </li>
  <li >
  	<div id="user-menu">User </div>
  	<div id="user-menuItem">
	<ul>
		<li><a href="">List of users </a></li>									
	    <li><a href="#">Add user</a></li>     
	</ul>

    </div>
  </li>
  <li >
    <div id="customer-menu" >Customer </div>
  	<div id="customer-menuItem">
	<ul>
		<li><a href="">List of customers </a></li>									
	    <li><a href="#">Custormers' orders</a></li>     
	</ul>

    </div>

  </li>
  </ul>















