{% extends "VanoFashionEShoppingBundle::bundleLayout.html.twig" %}


{% block title %}

   {{ parent() }} - Website Management

{% endblock %}

{% block javascripts %}

{{ parent()}}
    {% javascripts 'bundles/vanofashioneshopping/js/websiteManagement.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets%}
{{ parent() }}

{% stylesheets 'bundles/vanofashioneshopping/css/websiteManagement.css' filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}"  />
{% endstylesheets %}


{% endblock %}


{% block vanofashioneshopping_body %}

<div class="container-fluid">

<div  class="row">
	<div class="col-md-2">

     {{ render(controller("VanoFashionEShoppingBundle:Item:menuWebsiteManagement" )) }}

	</div>

	<div class="col-md-9" id="management-container">
    {% block vanofashioneshopping_management_body %}

    {% endblock %}

	</div>


</div>

</div>
{% endblock %}